<footer class="container-fluid text-center">
    <div class="row ab">
        <div class="col-md logofooter">
            {{!-- <h1>LOGO</h1> --}}
            <a href="/">
                <img src="/images/logo-footer.png" height="50">
            </a>
        </div>
        <div class="col-md-3 menufooter">
            <div class="row">
                <div class="col-md-2 fmenu">MENU</div>
                <div class="col-md-10 mm">
                    <ul>
                        <li><a href="/servicos">{{translation.SERVICOS}}</a></li>
                        <li><a href="/planos">{{translation.PLANOS}}</a></li>
                        <li><a href="/faq">{{translation.FAQ}} </a></li>
                        {{#if User.email}}
                        <li><a href="/booking">{{translation.RESERVAS}} </a></li>
                        <li>
                            <a  href="/auth/logout"> {{translation.SAIR}}</a>
                        </li>
                        {{else}}
                        <li>
                            <a data-toggle="modal" data-target="#login"> {{translation.ENTRAR}}</a>
                        </li>
                        {{/if}}                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2 fcontato">{{translation.CONTATOS}} </div>
                <div class="col-md-10 cc">
                    <ul>
                        <li><a href="tel:00238{{Contato.0.phone}}">(+238) {{Contato.0.phone}}</a></li>
                        <li><a href="mailto:{{Contato.0.email}}">{{Contato.0.email}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div id="a" class="row rsocial ">
                {{#each Rsocial}}
                    {{!-- {{this.nome}} --}}
                    <div class="col-md social"><a href="{{this.link}}"  target="_blank"><i class="{{this.icon}}"></i></a></div>
                {{/each}}
                {{!-- <div class="col-md social"><a href="#"><i class="fab fa-instagram"></i></a></div>
                <div class="col-md social"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                <div class="col-md social"><a href="#"><i class="fab fa-twitter"></i></a></div> --}}
            </div>
            <div id="b" class="row mrg ">
                <div class="col-md">
                    <a class="creditos" href="http://innovatmedia.com" target="_blank">&copy; iMedia Innovative Media 2019</a>
                </div>
            </div>
        </div>
    </div>
</footer>