<!--User dashboard-->

<section class="container-fluid"  id="dashboard">
    {{#if User.confirme}}
        {{!-- nada co mostra --}}
    {{else}}
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="alert alert-primary" role="alert">
                    <span class="text-danger">{{translation.ValidarConta}}</span>
                </div>
            </div>
        </div>
    {{/if}}


    <div class="row">
        <div class="col-md-4">
            <figure>

                {{#if User.photo}}
                    <img src="{{User.photo}}">
                {{else}}
                    <img src="/images/Beneficios 1.svg">
                {{/if}}
                <figcaption class="mt-2 h1">{{User.firstName}} {{User.lastName}}</figcaption>
            </figure>
        </div>

        <div class="col-md-8" >
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">{{translation.MyInfo}} <a href="/users/{{User.id}}/config"><i class="float-right fas fa-user-edit"></i></a></h5>
                        </div>
                    </div>

                    <h2 id="separador"></h2>

                   <div class="row">
                       <div class="col-md-6">
                           <ul>
                               <li class="a">{{translation.Nome}}</li>
                               <li class="b">
                                   {{#if User.firstName}}
                                        {{User.firstName}}
                                   {{else}}
                                    -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.Email2}}</li>
                               <li class="b">
                                   {{#if User.email}}
                                        {{User.email}}
                                   {{else}}
                                    -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.adress}}</li>
                               <li class="b">
                                   {{#if User.street_adress}}
                                        {{User.street_adress}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.city2}}</li>
                               <li class="b">
                                   {{#if User.city}}
                                        {{User.city}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.country}}</li>
                               <li class="b">
                                   {{#if User.country}}
                                        {{User.country}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                           </ul>
                       </div>
                       <div class="col-md-6">
                           <ul>
                               <li class="a">{{translation.lastName}}</li>
                               <li class="b">
                                   {{#if User.lastName}}
                                        {{User.lastName}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.phone}}</li>
                               <li class="b">
                                   {{#if User.phone}}
                                        {{User.phone}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.biling_adress}}</li>
                               <li class="b">
                                   {{#if User.biling_adress}}
                                        {{User.biling_adress}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                               <li class="a">{{translation.zip_code}}</li>
                               <li class="b">
                                   {{#if User.zip_code}}
                                        {{User.zip_code}}
                                   {{else}}
                                        -- -- --
                                   {{/if}}
                               </li>
                           </ul>
                       </div>
                   </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="container-fluid" id="minhasreservas">
    <div class="row">
        <div class="col-md-12">
            <h1 class="titulo">{{translation.MinhasReservas}}</h1>
        </div>
    </div>

    <div class="row reservabotao mt-4" role="tablist">
        <div class="col-6">
            <a class="reserva nav-item nav-link active" data-toggle="tab" href="#" role="tab" aria-selected="true">{{translation.ReservasAtuais}}</a>
        </div>
        <div class="col-6">
            <a class="reserva nav-item nav-link" data-toggle="tab" href="#" role="tab" aria-selected="true">{{translation.ReservasAnteriores}}</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                <table id="table_id" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th class="th-sm">{{translation.PLANO}}
                        </th>
                        <th class="th-sm">{{translation.PICKUP_DATE}}
                        </th>
                        <th class="th-sm">{{translation.RETURN2}}
                        </th>
                        <th class="th-sm">{{translation.CPU_LOC}}
                        </th>
                        <th class="th-sm">{{translation.Pacote}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr><tr>
                        <td>

                        </td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>2008/12/19</td>
                        <td>$90,560</td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2013/03/03</td>
                        <td>$342,000</td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>36</td>
                        <td>2008/10/16</td>
                        <td>$470,600</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
         <div class="row mt-5">
            <div class="col-md-6">
                {{#if User}}
                    <a href="/pagamento" class="btn btn-info btn-lg active" id="recarregar" role="button" aria-pressed="true">{{translation.Recarregar}}</a>
                {{else}}
                    <a class="btn btn-info btn-lg active"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                {{/if}}

            </div>
             <!--<div class="col-md-6">
                 <a href="#" class="btn btn-secondary btn-lg active" id="cancelar" role="button" aria-pressed="true">Cancelar</a>
             </div>-->
         </div>
    </div>
</section>
