
<div class="container-fluid p-0" id="banner">
    <img src="/images/banner.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logo">
        <div class="col-12">
            <div class="row">
                <h1>LOGO</h1>
                {{!-- <img src="/images/logo.png" width="350" height="300"> --}}
            </div>
            <div class="row">
                {{#if User}}
                    {{#if User.confirme}}
                        <a href="/booking" class="btn btn-info btn-lg ho">{{translation.ONLINE_BOOKING}} </a>
                    {{else}}
                        <a href="/users/{{User.id}}" class="btn btn-info btn-lg ho">{{translation.ONLINE_BOOKING}} </a>
                    {{/if}}
                {{else}}
                    <a class="btn btn-info btn-lg wifi-text-azul ho"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                {{/if}}
            </div>
        </div>

    </div>
</div>

<section id="beneficio"  class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h1 class="display-4 font-weight-bold">{{translation.BENEFICIOS}} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
                <div class="row text-center mt-4">
                  <div class="col-12"><img src="/images/Beneficios 1.svg"></div>
                </div>
                <div class="row">
                   <div class="col-12 mt-4"><h5 class="text-center" > BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="/images/Beneficios 2.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="/images/Beneficios 3.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="row text-center mt-4">
                    <div class="col-12"><img src="/images/Beneficios 4.svg"></div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
                </div>
        </div>
    </div>
</section>

<section id="howwork"  class="container-fluid align-items-center">
<div class="col align-self-center">
     <div class="row">
         <div class="col-12 text-center mt-4">
             <h1 class="display-3 font-weight-bold">{{translation.HIW}} </h1>
         </div>
     </div>

     <div class="row">
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="/images/Book Online.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center" >{{translation.RESERVA_ONLINE}} </h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="/images/Receive Package.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">{{translation.RYP}}</h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="/images/Enjoy Internet Anywhere.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">{{translation.EIA}}</h5></div>
             </div>
         </div>
         <div class="col-md">
             <div class="row text-center mt-4">
                 <div class="col-12"><img src="/images/Return the Wifi Device.svg"></div>
             </div>
             <div class="row">
                 <div class="col-12 mt-4"><h5 class="text-center">{{translation.RWD}}</h5></div>
             </div>
         </div>
     </div>
</div>
</section>

<section id="offers" class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-3 font-weight-bold">{{translation.TO}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.0.nome}} </h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text  font-weight-bold">{{Planos.0.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.0.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.0.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.0.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.1.nome}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">{{Planos.1.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.1.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.1.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.1.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.2.nome}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">{{Planos.2.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.2.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.2.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.2.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col align-self-center">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h1 class="display-3 font-weight-bold">TOP OFFERS</h1>
            </div>
        </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">PLAN NAME</h2>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                                <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                                <p class="card-text font-weight-bold">Data plan per day</p>
                                <p class="card-text font-weight-bold">Number of devices</p>
                                <p class="card-text font-weight-bold">Battery life</p>
                                <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header rounded-top">
                                <h2 class="card-title">PLAN NAME</h2>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                                <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                                <p class="card-text font-weight-bold">Data plan per day</p>
                                <p class="card-text font-weight-bold">Number of devices</p>
                                <p class="card-text font-weight-bold">Battery life</p>
                                <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header rounded-top">
                                <h2 class="card-title">PLAN NAME</h2>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text mt-5 text-center">equipment image with transparency</h6>
                                <h1 class="card-text mt-5 font-weight-bold">000$</h1>
                                <p class="card-text font-weight-bold">Data plan per day</p>
                                <p class="card-text font-weight-bold">Number of devices</p>
                                <p class="card-text font-weight-bold">Battery life</p>
                                <a href="./booking" class="btn btn-info">ONLINE BOOKING</a>
                            </div>
                        </div>
                    </div>
             </div>
  </div>-->
</section>



