{{!-- <div class="container-fluid p-0" id="plans">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logo1">
<!--        <div class="col-12">-->
<!--            <div class="row">-->
                <h1>{{translation.OWP}}</h1>
<!--            </div>-->
<!--        </div>-->

    </div>
</div> --}}

<div class="container-fluid p-0" id="plans">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="centered h5 font-weight-bold">
        <span>{{translation.OWP}}</span>
    </div>
</div>


<section id="beneficio"  class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 1.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center" >BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 2.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 3.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="./images/Beneficios 4.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
    </div>
</section>


<section id="offers" class="planos container-fluid text-center">

    <div class="row">
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="./images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text  font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking/1" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="./images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking/2" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="./images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">000$</h1>
                    <p class="card-text font-weight-bold">Data plan per day</p>
                    <p class="card-text font-weight-bold">Number of devices</p>
                    <p class="card-text font-weight-bold">Battery life</p>
                    <a href="./booking/3" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                </div>
            </div>
        </div>
    </div>

</section>