{{!-- <div class="container-fluid p-0" id="plans">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="row position-absolute logo1">
<!--        <div class="col-12">-->
<!--            <div class="row">-->
                <h1>{{translation.OWP}}</h1>
<!--            </div>-->
<!--        </div>-->

    </div>
</div> --}}

<div class="container-fluid p-0" id="plans">
    <img src="/images/Imagem 2.png" class="img-fluid banner" alt="Responsive image">
    <div class="centered h5 font-weight-bold">
        <span>{{translation.OWP}}</span>
    </div>
</div>


<section id="beneficio"  class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="/images/Beneficios 1.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center" >BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="/images/Beneficios 2.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="/images/Beneficios 3.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row text-center mt-4">
                <div class="col-12"><img src="/images/Beneficios 4.svg"></div>
            </div>
            <div class="row">
                <div class="col-12 mt-4"><h5 class="text-center">BENEFICIOS DO SERVIÇO</h5></div>
            </div>
        </div>
    </div>
</section>


<section id="offers" class="planos container-fluid text-center">

    <div class="row">
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.0.nome}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">{{Planos.0.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.0.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.0.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.0.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.1.nome}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">{{Planos.1.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.1.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.1.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.1.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center coluna">
            <div class="pacote text-center">
                <h5 class="card-header planocabeca">{{Planos.2.nome}}</h5>
                <div class="card-body">
                    <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                    <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                    <h1 class="card-text font-weight-bold">{{Planos.2.preco}}$00</h1>
                    <p class="card-text font-weight-bold">{{Planos.2.qtd_megas}} MegaBytes</p>
                    <p class="card-text font-weight-bold">Download {{Planos.2.txdownload}} Mb/s</p>
                    <p class="card-text font-weight-bold">Upload {{Planos.2.txupload}} Mb/s</p>
                    {{#if User}}
                        {{#if User.confirme}}
                            <a href="/booking" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{else}}
                            <a href="/users/{{User.id}}" class="btn btn-primary site-cor">{{translation.ONLINE_BOOKING}}</a>
                        {{/if}}
                    {{else}}
                        <a class="btn btn-primary site-cor wifi-text-white"   data-toggle="modal" data-target="#login">{{translation.ONLINE_BOOKING}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

</section>