<!--<section id="booking" class="container-fluid mt-5">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12 text-center">-->
<!--            <h1 class="display-4 font-weight-bold">BOOKING</h1>-->
<!--        </div>-->
<!--    </div>-->

<!--&lt;!&ndash;    seccao para o steppers&ndash;&gt;-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-8">-->
<!--            <div class="wrapper-progressBar">-->
<!--                <ul class="progressBar">-->
<!--                    <li class="active">ORDER</li>-->
<!--                    <li class="active">BILING INFORMATION</li>-->
<!--                    <li>CONFIRME & CHECKOUT</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="row mt-5">-->
<!--        <div class="col-md-9">-->
<!--            <form>-->
<!--&lt;!&ndash;                pormularios do steppe orders&ndash;&gt;-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputNumber">Select the number of days for wifi</label>-->
<!--                        <select id="inputNumber" class="form-control">-->
<!--                            <option selected>Select</option>-->
<!--                            <option>5 dias</option>-->
<!--                            <option>10 dias</option>-->
<!--                            <option>20 dias</option>-->
<!--                            <option>30 dias</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputPickupdate">Pick-up date</label>-->
<!--                        <input type="date" class="form-control" id="inputPickupdate" placeholder="dd/mm/yyyy">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputLocation">confirm pick-up location</label>-->
<!--                        <select id="inputLocation" class="form-control">-->
<!--                            <option selected>Select</option>-->
<!--                            <option>Aeroporto Nelson Mandela (praia)</option>-->
<!--                            <option>TerraSystem (Latata)</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputreturnlocation">Confirm return location</label>-->
<!--                        <select id="inputNumber" class="form-control">-->
<!--                            <option selected>Select</option>-->
<!--                            <option>5 dias</option>-->
<!--                            <option>10 dias</option>-->
<!--                            <option>20 dias</option>-->
<!--                            <option>30 dias</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputFlightnumber">Flight Number (optional)</label>-->
<!--                        <input type="number" class="form-control" id="inputFlightnumber" placeholder="">-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                promularios do steppe biling information&ndash;&gt;-->
<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-3">-->
<!--                        <label for="inputTitle">Title</label>-->
<!--                        <select id="inputTitle" class="form-control">-->
<!--                            <option selected>Mr.</option>-->
<!--                            <option>Ms.</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputAddress">Address</label>-->
<!--                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputAddress2">Address 2</label>-->
<!--                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputAddress">Address</label>-->
<!--                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="inputAddress2">Address 2</label>-->
<!--                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
<!--                </div>-->

<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputZip">Zip code</label>-->
<!--                        <input type="text" class="form-control" id="inputZip" placeholder="">-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputPhone">Phone</label>-->
<!--                        <input type="text" class="form-control" id="inputPhone" placeholder="">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputCountry">Country</label>-->
<!--                        <select id="inputCountry" class="form-control">-->
<!--                            <option selected>EUA</option>-->
<!--                            <option>Portugal</option>-->
<!--                            <option>França</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-6">-->
<!--                        <label for="inputEmail">Email</label>-->
<!--                        <input type="email" class="form-control" id="inputEmail" placeholder="">-->
<!--                    </div>-->
<!--                </div>-->

<!--&lt;!&ndash;                promularios do steppe checkout&ndash;&gt;-->
<!--                <div class="checkout">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12 planname">-->
<!--                            <h1>PLAN NAME</h1>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-3">Duration: 00 days</div>-->
<!--                        <div class="col-md-3">Ending: dd/mm/yyyy</div>-->
<!--                        <div class="col-md-3">Starting: dd/mm/yyyy</div>-->
<!--                        <div class="col-md-3"><b>0000$</b></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="terms">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-12">-->
<!--                            <h4 class="font-weight-bold">Terms and Conditions</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="checkbox" id="inputTerms">-->
<!--                                <label class="form-check-label" for="inputTerms">-->
<!--                                    I agry to the <a class="linkTerms" href="#">terms and conditions</a>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <h1 class="display-4 font-weight-bold">TOTAL: 000$</h1>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--&lt;!&ndash;                pagamento visa...&ndash;&gt;-->

<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-7">-->
<!--                        <label for="inputCardnumber">Card Number</label>-->
<!--                        <input type="number" class="form-control" id="inputCardnumber" placeholder="">-->
<!--                    </div>-->

<!--                    <div class="col-md-2 visa">-->
<!--                        <img src="/images/mastercard.svg" width="40" height="40">-->
<!--                        <img src="/images/visa.svg" width="40" height="40">-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-3">-->
<!--                        <label for="inputCardexpiry">card Expiry Date</label>-->
<!--                        <input type="date" class="form-control" id="inputCardexpiry" placeholder="">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-row">-->
<!--                    <div class="form-group col-md-9">-->
<!--                        <label for="inputCardHolder">Card Holder Name</label>-->
<!--                        <input type="text" class="form-control" id="inputCardholder" placeholder="">-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-3">-->
<!--                        <label for="inputCVC">CVC</label>-->
<!--                        <input type="number" class="form-control" id="inputCVC" placeholder="">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <button type="button" class="btn btn-primary">BACK</button>-->
<!--                <button type="submit" class="btn btn-primary">PROCCED TO PAYMENT</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    This is some text within a card body.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    seccao para o formulario multisteps&ndash;&gt;-->


<!--</section>-->

<section id="booking" class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold">{{translation.BOOKING}}</h1>
        </div>
    </div>

    <!--    seccao para o steppers-->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="wrapper-progressBar">
                <ul class="progressBar">
                    <li class="active">{{translation.ORDER}}</li>
                    <li class="active">{{translation.BI}}</li>
                    <li>{{translation.CCH}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- codigos do formulario -->
    <div class="row">
        <div id="form-1" class="col-md-9">
            <form action="/booking/orders" method="POST">
                <!-- step orders -->
                <div id="step1"  class="tab">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNumber">{{translation.SN_DAYWIFI}}</label>
                            <select id="inputNumber"  name="numdays" class="form-control">
                                <option selected>Select</option>
                                <option value="5">5 dias</option>
                                <option value="10">10 dias</option>
                                <option value="20">20 dias</option>
                                <option value="30">30 dias</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPickupdate">{{translation.PICKUP_DATE}}</label>
                            <input type="date" name="pdate" class="form-control" id="inputPickupdate" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLocation">{{translation.CPU_LOC}}</label>
                            <select id="inputLocation" name="plocation" class="form-control">
                                <option selected>Select</option>
                                <option value="1">Aeroporto Nelson Mandela (praia)</option>
                                <option value="2">TerraSystem (Latata)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputreturnlocation">{{translation.CR_LOC}}</label>
                            <select id="inputLocation" name="rlocation" class="form-control">
                                <option selected>Select</option>
                                <option value="1">Aeroporto Nelson Mandela (praia)</option>
                                <option value="2">TerraSystem (Latata)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFlightnumber">{{translation.FN}}</label>
                            <input type="number" name="flynum" class="form-control" id="inputFlightnumber" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" class="btn btn-danger next" id="next-1">{{translation.NEXT}}</a>
                    </div>
                </div>

                <!-- step biling information -->
                <div id="step2" class="tab">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputTitle">Title</label>
                            <select id="inputTitle" name="title" class="form-control">
                                <option value="mr" selected>Mr.</option>
                                <option value="ms">Ms.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">{{translation.FNAME}}</label>
                        <input type="text" name="fname" class="form-control" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">{{translation.LNAME}}</label>
                        <input type="text" name="lname" class="form-control" id="inputAddress2" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">{{translation.SADDRESS}}</label>
                        <input type="text" name="addr" class="form-control" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">{{translation.city}}</label>
                        <input type="text" name="addr2" class="form-control" id="inputAddress2" placeholder="">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">{{translation.Zcode}}</label>
                            <input type="text" name="zip" class="form-control" id="inputZip" placeholder="">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPhone">{{translation.Phone}}</label>
                            <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCountry">{{translation.Country}}</label>
                            <select id="inputCountry" class="form-control" name="country">
                                <option value="eua" selected>EUA</option>
                                <option value="pt">Portugal</option>
                                <option value="fr">França</option>
                                <option value="es">Espanha</option>
                                <option value="in">Inglatera</option>
                                <option value="ho">Holanda</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputEmail">{{translation.Email}}</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="#" class="btn btn-danger prev" id="prev-2">{{translation.BACK}}</a>
                        <a href="#" class="btn btn-danger next rr" id="next-2">{{translation.NEXT}}</a>
                    </div>
                </div>

                <!-- step confirm & CHECKOUT -->
                <div id="step3" class="tab">
                    <div class="checkout">
                        <div class="row">
                            <div class="col-md-12 planname">
                                <h1>{{translation.PN}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">{{translation.Duration}}: 00 days</div>
                            <div class="col-md-3">{{translation.Ending}}: dd/mm/yyyy</div>
                            <div class="col-md-3">{{translation.Starting}}: dd/mm/yyyy</div>
                            <div class="col-md-3"><b>0000$</b></div>
                        </div>
                    </div>
                    <div class="terms">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="font-weight-bold">{{translation.T_CONDITION}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="inputTerms" required>
                                    <label class="form-check-label" for="inputTerms">
                                        {{translation.IAGRY}}<a class="linkTerms" href="#"> {{translation.T_CONDITION}}</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="display-4 font-weight-bold total">{{translation.TOTAL}}: 000$</h1>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="#" class="btn btn-danger prev" id="prev-3">{{translation.BACK}}</a>
<!--                        <a href="#" class="btn btn-success" id="submit">PROCCED TO PAYMENT</a>-->
                        <!-- id=submi => id=next3 -->
                         <input type="submit" value="{{translation.PPAY}}" id="submit" class="btn btn-success">
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-3">
            <div id="status" class="card mt-5">
                <div class="card-body">
                    <table class="able">
                        <thead class="thead-deault">
                        <tr>
                            <th><h1 class="font-weight-bold">{{translation.SUMARY}}</h1></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{translation.WP}}</th>
                            <td>Nina</td>
                        </tr>
                        <tr>
                            <th scope="row">{{translation.PICKUP_DATE}}</th>
                            <td>dd-mm-yyy</td>
                        </tr>
                        <tr>
                            <th scope="row">{{translation.TOTAL}}</th>
                            <td>0000$</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       
    </div>
</section>


<section id="Bpolicy" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <article>
                <b>{{translation.C_Policy}}</b> {{translation.Refunds}}
            </article>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <article>
                <b>{{translation.Disclamer}}</b> {{translation.TheWifianywhere}}
            </article>
        </div>
    </div>
</section>