

<section id="booking" class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold">{{translation.BOOKING}}</h1>
        </div>
    </div>

    <!--    seccao para o steppers-->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="wrapper-progressBar">
                <ul class="progressBar">
                    <li class="active">{{translation.ORDER}}</li>
                    <li class="active">{{translation.BI}}</li>
                    <li>{{translation.CCH}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- codigos do formulario -->
    <div class="row fff">
        <div id="form-1" class="col-md-9">
            <form action="/booking/orders" method="POST">
                <!-- step orders -->
                <div id="step1"  class="tab">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPickupdate">{{translation.PICKUP_DATE}}</label>
                            <input type="date" name="pdate" class="form-control" id="inputPickupdate" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputNumber">{{translation.SN_DAYWIFI}}</label>
                            <input type="number" id="inputNumber" min="0" max="999"  oninput="validity.valid||(value='');" name="numdays" class="form-control">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLocation">{{translation.CPU_LOC}}</label>
                            <select id="inputLocation" name="plocation" class="form-control">
                                <option selected>Select</option>
                                <option value="1">Aeroporto Nelson Mandela (praia)</option>
                                <option value="2">TerraSystem (Latata)</option>
                                <option value="2">Singapura (Sao Pedro)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputreturnlocation">{{translation.CR_LOC}}</label>
                            <select id="inputLocation" name="rlocation" class="form-control">
                                <option selected>Select</option>
                                <option value="1">Aeroporto Nelson Mandela (praia)</option>
                                <option value="2">TerraSystem (Latata)</option>
                                <option value="2">Singapura (Sao Pedro)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputFlightnumber">{{translation.FN}}</label>
                            <input type="number" name="flynum" class="form-control" id="inputFlightnumber" placeholder="">
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 d-flex justify-content-center coluna">
                                <div class="pacote text-center">
                                    <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                                    <div class="card-body">
                                        <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                                        <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                                        <h1 class="card-text  font-weight-bold">000$</h1>
                                        <p class="card-text font-weight-bold">Data plan per day</p>
                                        <p class="card-text font-weight-bold">Number of devices</p>
                                        <p class="card-text font-weight-bold">Battery life</p>
                                        <div class="choose">
                                            <label class="containers">Escolher
                                                <input type="radio"  name="plano">
                                                <input type="hidden" id="custId" name="planotipo" value="c">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 d-flex justify-content-center coluna">
                                <div class="pacote text-center">
                                    <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                                    <div class="card-body">
                                        <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                                        <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                                        <h1 class="card-text  font-weight-bold">000$</h1>
                                        <p class="card-text font-weight-bold">Data plan per day</p>
                                        <p class="card-text font-weight-bold">Number of devices</p>
                                        <p class="card-text font-weight-bold">Battery life</p>
                                        <div class="choose">
                                            <label class="containers">Escolher
                                                <input type="radio"  name="plano">
                                                <input type="hidden" id="custId" name="planotipo" value="c">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 d-flex justify-content-center coluna">
                                <div class="pacote text-center">
                                    <h5 class="card-header planocabeca">{{translation.PN}}</h5>
                                    <div class="card-body">
                                        <img class="card-img mt-0" src="/images/Router.jpg" alt="Card image">
                                        <!--<h6 class="card-text mt-5">equipment image with transparency</h6>-->
                                        <h1 class="card-text  font-weight-bold">000$</h1>
                                        <p class="card-text font-weight-bold">Data plan per day</p>
                                        <p class="card-text font-weight-bold">Number of devices</p>
                                        <p class="card-text font-weight-bold">Battery life</p>
                                        <div class="choose">
                                            <label class="containers">Escolher
                                                <input type="radio"  name="plano">
                                                <input type="hidden" id="custId" name="planotipo" value="c">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <a href="#" class="btn btn-danger next" id="next-1">{{translation.NEXT}}</a>
                    </div>
                </div>

                <!-- step biling information -->
                <div id="step2" class="tab">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputTitle">Title</label>
                            <select id="inputTitle" name="title" class="form-control">
                                <option value="mr" selected>Mr.</option>
                                <option value="ms">Ms.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">{{translation.FNAME}}</label>
                        <input type="text" name="fname" class="form-control" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">{{translation.LNAME}}</label>
                        <input type="text" name="lname" class="form-control" id="inputAddress2" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">{{translation.SADDRESS}}</label>
                        <input type="text" name="addr" class="form-control" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">{{translation.city}}</label>
                        <input type="text" name="addr2" class="form-control" id="inputAddress2" placeholder="">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputZip">{{translation.Zcode}}</label>
                            <input type="text" name="zip" class="form-control" id="inputZip" placeholder="">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputPhone">{{translation.Phone}}</label>
                            <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCountry">{{translation.Country}}</label>
                            <select id="inputCountry" class="form-control" name="country">
                                <option value="eua" selected>EUA</option>
                                <option value="pt">Portugal</option>
                                <option value="fr">França</option>
                                <option value="es">Espanha</option>
                                <option value="in">Inglatera</option>
                                <option value="ho">Holanda</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputEmail">{{translation.Email}}</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="#" class="btn btn-danger prev" id="prev-2">{{translation.BACK}}</a>
                        <a href="#" class="btn btn-danger next rr" id="next-2">{{translation.NEXT}}</a>
                    </div>
                </div>

                <!-- step confirm & CHECKOUT -->
                <div id="step3" class="tab">
                    <div class="checkout">
                        <div class="row">
                            <div class="col-md-12 planname">
                                <h1>{{translation.PN}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">{{translation.Duration}}: 00 days</div>
                            <div class="col-md-3">{{translation.Ending}}: dd/mm/yyyy</div>
                            <div class="col-md-3">{{translation.Starting}}: dd/mm/yyyy</div>
                            <div class="col-md-3"><b>0000$</b></div>
                        </div>
                    </div>
                    <div class="terms">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="font-weight-bold">{{translation.T_CONDITION}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="inputTerms" required>
                                    <label class="form-check-label" for="inputTerms">
                                        {{translation.IAGRY}}<a class="linkTerms" href="#"> {{translation.T_CONDITION}}</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="display-4 font-weight-bold total">{{translation.TOTAL}}: 000$</h1>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a href="#" class="btn btn-danger prev" id="prev-3">{{translation.BACK}}</a>
<!--                        <a href="#" class="btn btn-success" id="submit">PROCCED TO PAYMENT</a>-->
                        <!-- id=submi => id=next3 -->
                         <input type="submit" value="{{translation.PPAY}}" id="submit" class="btn btn-success">
                    </div>
                </div>
            </form>


        </div>
        <div class="col-md-3">
            <div id="status" class="card mt-5">
                <div class="card-body">
                    <table class="able">
                        <thead class="thead-deault">
                        <tr>
                            <th><h1 class="font-weight-bold">{{translation.SUMARY}}</h1></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{translation.WP}}</th>
                            <td>Nina</td>
                        </tr>
                        <tr>
                            <th scope="row">{{translation.PICKUP_DATE}}</th>
                            <td>dd-mm-yyy</td>
                        </tr>
                        <tr>
                            <th scope="row">{{translation.TOTAL}}</th>
                            <td>0000$</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>


<section id="Bpolicy" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <article>
                <b>{{translation.C_Policy}}</b> {{translation.Refunds}}
            </article>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <article>
                <b>{{translation.Disclamer}}</b> {{translation.TheWifianywhere}}
            </article>
        </div>
    </div>
</section>